html {
	box-sizing: border-box;
}
*, *:before, *:after {
	box-sizing: inherit;
	margin: 0;
}

body {
	background: #FCFBE3;
	font-family: 'Josefin Slab', serif;
	margin: 0;
}

div {
	/* for debugging purposes, allows me to see div borders 
	border: 1px solid Chocolate; */
	margin: 0;
}

a {
	color: white;
	text-decoration: none;
}

a:hover {
	color: #BEE3DB;
}

.blue-link {
	color: #2E86AB;
}

.current-page {
	border-bottom: 3px white solid;
}

.title-name a {
	color: white;
}

.content {
	margin: 0 auto;
}

/* nav-bar */

.navigation-top {
	width: 100%;
	background: #2E86AB;
	box-shadow: 0px 0.25px 4px;
	position: fixed;
	z-index: 999;
}

.navigation-top .content {
	width: 60%;
	height: 4rem;
	padding: 0 2rem;
	background: #2E86AB;
}

.title-name,
.links,
.tile-text {
	font-family: 'Montserrat', sans-serif;
}

.title-name {
	font-size: 2rem;
	font-weight: normal;
	float: left;
	margin-top: 1rem;
}

.title-name,
.links {
	color: white;
}

.links > li {
	display: inline;
	float: right;
	margin: 0;
	margin-left: 4rem;
	margin-top: 1.6rem;
}

/* main page */

/* about me */

.home-introduction {
	background: #FCFBE3;
}

.home-introduction .content {
	width: 60%;
	overflow: auto;
	padding-top: 7rem;
}

.greeting {
	font-size: 2.5em;
	font-weight: bold;
	text-align: center;
	margin-bottom: 3rem;
	color: #2E86AB;
	position: relative;
}

.introduction-copy,
.introduction-copy-smallscreen {
	width: 100%;
	margin: 0 auto 2rem auto;
	padding: 0 1rem;
	font-size: 2em;
	font-weight: bold;
	text-align: center;
	line-height: 120%;
	color: #2E86AB;
}

.introduction-copy-smallscreen {
	display: none;
}

/* projects */

.project-header {
	margin: 2em auto 0 auto;
	padding-left: none;
	text-align: center;
	background: #BEE3DB;
	box-shadow: 0px 0.25px 4px;
}

.project-header-text {
	font-size: 2.5em;
	color: white;
	padding: 0.5em 0;
}

.projects {
	padding: 1.5em;
	overflow: auto;
	background-color: #2E86AB;
}

.projects .content {
	width: 80%;
	text-align: center;
}

	/* project tiles */

.project-tile:hover {
	border: 2px white dashed;
}


.project-tile {
	width: 15rem;
	height: 15rem;
	margin: 2em;
	display: inline-block;
	border: 2px white solid;
	border-radius: 100%;
	padding: 0.5em;
}

.tile-image {
	width: 100%;
	position: relative;
}

.tile-caption {
	color: white;
	margin-top: 1rem;
	text-align: center;
	font-family: 'Montserrat', sans-serif;
	font-weight: 100;
	font-size: 0.8em;
	box-sizing: border-box;
}

.project-category {
	color: white;
	font-family: 'Montserrat', sans-serif;
	font-size: 0.8em;
	margin-top: 0.25rem;
	text-transform: uppercase;
}


/* footer */

.contact {
	background: #FCFBE3;
}

.contact .content {
	width: 60%;
	height: 4rem;
	margin: 0 auto 8rem auto;
}

.contact hr {
	margin-top: 3rem;
	border-top: 1px #2E86AB solid;
}

.contact-text {
	margin-top: 2rem;
	font-weight: 800;
	text-align: center;
	color: #2E86AB;
}

.fa-envelope,
.fa-linkedin {
	color: #2E86AB ;
}

.fa:hover {
	color: #BEE3DB;
}

/* project pages */

.introduction {
	background-image: url(images/moha_stage.png);
	background-position: 0 bottom;
	background-repeat: no-repeat;
	background-size: cover;
	height: 40rem;
	overflow: auto;
	border-bottom: 4px #BEE3DB solid;
}

.hl-title, .hl-category {
	font-family: "Montserrat", sans-serif;
	font-weight: 100;
	color: white;
	background-color: rgba(0,0,0,0.75);
	display: inline-block;
	padding: 5px;
}

/* there's gotta be a better way */
.hl-container {
	width: 90%;
	margin: 6rem 0 -3rem 1rem;
	float: left;
	overflow: auto;
}

.hl-title {
	font-size: 4em;
}

.hl-category {
	font-size: 3em;
	margin-top: 0.5em;
}

.introduction-schumer {
	background-image: url(images/amy_schumer_shirt.jpg);
	background-position: 0 22px;
	background-repeat: no-repeat;
	background-size: cover;
	height: 40rem;
	overflow: auto;
	border-bottom: 4px #BEE3DB solid;
}

.introduction-homecoming {
	background-image: url(images/nu_homecoming.png);
	background-position: 0 22px;
	background-repeat: no-repeat;
	background-size: cover;
	height: 40rem;
	overflow: auto;
	border-bottom: 4px #BEE3DB solid;
}

.introduction-traveld {
	background-image: url(images/worldmap.jpg);
	background-position: 0 22px;
	background-repeat: no-repeat;
	background-size: cover;
	height: 40rem;
	overflow: auto;
	border-bottom: 4px #BEE3DB solid;
}

.introduction-westerneurope {
	background-image: url(images/europe.jpg);
	background-position: 0 0px;
	background-repeat: no-repeat;
	background-size: cover;
	height: 40rem;
	overflow: auto;
	border-bottom: 4px #BEE3DB solid;
}

.about-project {
	background: white;
	margin: 0;
}

.copy-container {
	width: 60%;
	margin: 0 auto;
	background: white;
	padding-top: 0.5rem;
	padding-bottom: 2rem;
	margin-bottom: 0rem;
}

.project-copy {
	padding-top: 2rem;
	line-height: 120%;
}

.image {
	width: 80%;
	margin: 2rem auto;
	display: block;
}

.photos {
	background: white;
}

.photos .content {
	margin: 0 auto;
	text-align: center;
	background: white;
}

.photo-container {
	width: 90%;
	margin: 0 auto 0 auto;
	padding-top: 4rem;
	padding-bottom: 2rem;
	text-align: center;
}

/* about me */

.about-me .content {
	width: 60%;
	margin: 0 auto;
	padding-top: 6rem;
	padding-bottom: 1rem;
	background: white;
	overflow: auto;
}

.about-copy-container {
	width: 50%;
	margin: 0 2rem;
	float: right;
}

.about-copy {
	padding-bottom: 1rem;
}

.profile-pic {
	width: 275px;
	height: 275px;
	margin-left: 2rem;
	float: left;
}

/* resume */

.pdf-container {
	width: 100%;
	height: 100%;
}

object {
	height: 100%;
}

/* small screen adjustments */

.smallscreen-link {
	color: #2E86AB;
	text-decoration: underline;
}

/* media queries */

@media screen and (max-width: 1255px) {
	.profile-pic {
		width: 250px;
		height: 250px;
	}

	.about-copy-container {
		width: 50%;
	}

}

@media screen and (max-width: 1170px) {
	.profile-pic {
		width: 225px;
		height: 225px;
	}


}

@media screen and (max-width: 1085px) {
	.profile-pic {
		width: 200px;
		height: 200px;
	}

	.about-copy-container {
		margin: 0 1rem;
	}

}

@media screen and (max-width: 990px) {
	.about-me .content {
		display: block;
	}

	.profile-pic {
		width: 250px;
		height: 250px;
		margin: 0 auto;
		float: none;
		display: block;
		
	}

	.about-copy-container {
		width: 80%;
		margin: 1.5rem auto 1rem auto;
		float: none;
		display: block;
	}

}

@media screen and (max-width: 900px) {
	.title-name {
		font-size: 1.6rem;
	}

	.links > li {
		font-size: 0.8rem;
		margin-left: 2rem;
	}

	.greeting {
		font-size: 2.25rem;
	}

	.introduction-copy {
		font-size: 1.75rem;
	}

	.project-header-text {
		font-size: 1.5rem;
	}

	.projects .content {
		width: 100%;
	}

	/* project pages */

	.hl-title {
	font-size: 3.5em;
	}

	.hl-category {
	font-size: 2.5em;
	margin-top: 0.5em;
	}

}

@media screen and (max-width: 670px) {
	.navigation-top .content {
		width: 80%;
	}

	/* project pages */
	.copy-container {
	width: 80%;
	margin: 0 auto;
	background: white;
	padding-bottom: 2rem;
}

	.project-copy {
	padding-top: 1rem;
	}

.image {
	width: 100%;
	margin: 2rem auto;
	display: block;
}

	.photo-container {
		width: 100%;
	}

	.about-me .content {
		width: 80%;
	}
}

@media screen and (max-width: 500px) {
	.introduction-copy,
	.introduction-copy-smallscreen {
		display: inline-block;
		font-size: 1.25rem;
	}

	.title-name {
		font-size: 1.5em;
		float: none;
		text-align: center;
		margin: 0 auto;
		padding-top: 1.5rem;
	}

	.links {
		display: none;
	}

	.greeting {
		font-size: 2rem;
	}

	.introduction .content {
		width: 100%;
	}

	.project .content {
		padding: 0.3em;
	}

	.project-header-text {
		font-size: 2em;
	}

	.project-tile {
		position: relative;
		width: 75%;
		border: none;
	}

	.project-tile:before {
		display: block;
		padding-top: 100%;
	}

	.project-tile:hover {
		border: none;
	}

	.tile-image {
		border: 2px white solid;
		border-radius: 100%;
		padding: 6px;
	}

	.tile-caption,
	.project-category {
		font-size: 1em;
	}

	.contact-text {
	margin-top: 1rem;
	font-size: 0.75rem;
}

	/* project pages */

	.hl-title {
	font-size: 2.5em;
	}

	.hl-category {
	font-size: 1.5em;
	margin-top: 0.5em;
	}

	.about-me .content {
		width: 100%;
	}

}





