html {
	box-sizing: border-box;
}
*, *:before, *:after {
	box-sizing: inherit;
	margin: 0;
}

body {
	background: #FCFBE3;
	font-family: 'Josefin Slab', serif;
}

div {
	/* for debugging purposes, allows me to see div borders 
	border: 1px solid Chocolate; */
}

a {
	color: white;
	text-decoration: none;
}

a:hover {
	color: #BEE3DB;
}

.content {
	margin: 0 auto 0 auto;
}

/* nav-bar */

.navigation-top {
	background: #2E86AB;
	box-shadow: 0px 0.25px 4px;

}

.navigation-top .content {
	width: 60%;
	height: 4rem;
	padding: 0 2rem;
	background: #2E86AB;
}

.title-name,
.links,
.tile-text {
	font-family: 'Montserrat', sans-serif;
}

.title-name {
	font-size: 2rem;
	font-weight: normal;
	float: left;
	margin: 1rem 0 0 0;
}

.title-name,
.links {
	color: white;
}

.links > li {
	display: inline;
	float: right;
	margin: 0;
	margin-left: 4rem;
	margin-top: 1.6rem;
}

/* about me */

.about-me {
	margin-top: 4rem;
	background: #FCFBE3;
}

.about-me .content {
	width: 60%;
	overflow: auto;
}

.greeting {
	font-size: 2.5em;
	font-weight: bold;
	text-align: center;
	margin-bottom: 3rem;
	color: #2E86AB;;
}

.about-copy,
.about-copy-smallscreen {
	font-weight: bold;
	font-size: 2em;
	width: 100%;
	margin: 0 auto;
	margin-bottom: 2rem;
	padding: 0 1rem 0 1rem;
	text-align: center;
	line-height: 120%;
	color: #2E86AB;
}

.about-copy-smallscreen {
	display: none;
}

/* projects */

.project-header {
	margin: 2em auto 0 auto;
	padding-left: none;
	text-align: center;
	background: #BEE3DB;
	box-shadow: 0px 0.25px 4px;
}

.project-header-text {
	font-size: 2.5em;
	color: white;
	padding: 0.5em 0;

}

.projects {
	padding: 1.5em;
	overflow: auto;
	background-color: #2E86AB;
}

.projects .content {
	width: 80%;
	text-align: center;
}

	/* project tiles */

.project-tile:hover {
	border: 2px white dashed;
}


.project-tile {
	width: 15rem;
	height: 15rem;
	margin: 2em;
	display: inline-block;
	border: 2px white solid;
	border-radius: 100%;
	padding: 0.5em;
}

.tile-image {
	width: 100%;
	position: relative;
}

.tile-caption {
	color: white;
	margin-top: 1rem;
	text-align: center;
	vertical-align: bottom;
	font-family: 'Montserrat', sans-serif;
	font-weight: 100;
	font-size: 0.8em;
	z-index: 9999;
	box-sizing: border-box;
}

.project-category {
	color: white;
	font-family: 'Montserrat', sans-serif;
	font-size: 0.8em;
	margin-top: 0.25rem;
	text-transform: uppercase;
}


/* footer */

.contact {
	background: #FCFBE3;
}

.contact .content {
	width: 60%;
	margin: 0 auto 8rem auto;
	height: 4rem;
}

.contact hr {
	margin-top: 3rem;
	border-top: 1px #2E86AB solid;
}

.contact-text {
	margin-top: 2rem;
	font-weight: 800;
	text-align: center;
	color: #2E86AB;
}

.fa-envelope,
.fa-linkedin {
	color: #2E86AB ;
}

.fa:hover {
	color: #BEE3DB;
}

/* small screen adjustments */

.small-screen {
	color: #2E86AB;
	text-decoration: underline;
}

/* media queries */

@media screen and (max-width: 900px) {
	.title-name {
		font-size: 1.6rem;
	}

	.links > li {
		font-size: 0.8rem;
		margin-left: 2rem;
	}

	.greeting {
		font-size: 2.25rem;
	}

	.about-copy {
		font-size: 1.75rem;
	}

	.project-header-text {
		font-size: 1.5rem;
	}

	.projects .content {
		width: 100%;
	}

@media screen and (max-width: 700px) {
	.about-copy,
	.about-copy-smallscreen {
		display: inline-block;
		font-size: 1.25rem;
	}

	.title-name {
		font-size: 1.1em;
		float: none;
		text-align: center;
		margin: 0 auto;
		padding-top: 1.5rem;
	}

	.links {
		display: none;
	}

	.greeting {
		font-size: 2rem;
	}

	.about-me .content {
		width: 100%;
	}

	.project .content {
		padding: 0.3em;
	}

	.project-header-text {
		font-size: 2em;
	}

	.project-tile {
		position: relative;
		width: 75%;
		border: none;
	}

	.project-tile:before {
		display: block;
		padding-top: 100%;
	}

	.project-tile:hover {
		border: none;
	}

	.tile-image {
		border: 2px white solid;
		border-radius: 100%;
		padding: 4px;
	}

	.tile-caption,
	.project-category {
		font-size: 1em;
	}
}





